@page
@model PrivacyModel
@using edificio_digital.Models.Common
@{
    Layout = AppConstants.Layouts.Public;
    ViewData["Title"] = "Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>Edificio digital trata los datos institucionales únicamente para los fines de gestión de ambientes y reservas.</p>
